/* PROFILE RIGHT SIDE */

/* WhoVisited */

.visualizza-btn {
  font-size: 0.6rem;
  font-weight: 500;
  background-color: white;
  color: #404040;
  width: fit-content;
  border: 1px solid #404040;
  transition:
    color 0.2s ease,
    border-color 0.2s ease,
    background-color 0.2s ease,
    box-shadow 0.2s ease;
}

.visualizza-btn:hover {
  border-color: black;
  color: black;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 0px 0px 1px black;
}

.blurred {
  filter: blur(1px);
}
/* Css ProfileHero */
/* Altezza del banner in modo che non si schiacci */
.hero-banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

/* posizione imm profilo verso l'alto per farla entrare nel banner */
.profile-pic-container {
  margin-top: -75px;
  padding-left: 15px;
  z-index: 2;
}

/* Dimensioni fisse della foto profilo */
.profile-pic {
  width: 130px;
  height: 130px;
  object-fit: cover;
}
